/* Meyer reset from NPM package reset-css */
@import "../node_modules/reset-css/reset.css";

body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    width: 100vw;
    display: grid;
    grid-template-rows: 10em 1fr;
    background: url('./ivan-torres-pizza.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-weight: 800;
    font-size: 2em;
}

.header-text, .header-nav, #content {
    padding: 0 20vw;
}

header {
    display: grid;
    grid-template-rows: 1fr 4em;
}

.header-text {
    display: flex;
    justify-content: space-between;
    color: white;
    background-color: black;
    line-height: 6em;
}

.italics {
    font-style: italic;
}

.header-nav {
    display: flex;
    justify-content: center;
    gap: 64px;
    color: red;
}

.header-button {
    font-size: 1.25em;
    width: 8em;
    background: none;
    border: none;
}

.content-object {
    background-color: rgb(255,240,200);
    padding: 24px;
}

.menu-tab {

}

/* smaller screens */
@media only screen and (max-width: 800px) {

    body {
        grid-template-rows: 1fr 1fr;
    }

    .header-text, .header-nav, #content {
        padding: 0 10vw;
    }

    header {
        grid-template-rows: 4em 1fr;
    }

    h1 {
        font-size: 1.5em;
        margin: 0 auto;
    }

    .header-text {
        line-height: 4em;
    }

    .italics {
        display: none;
    }

    .header-nav {
        gap: 8px;
    }

    .header-button {
        height: 2em;
        width: 4em;
    }
}